.projects {
  padding-top: 74px;

  &__container {
    padding-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__line {
    width: 511px;
    height: 1px;
    background-color: var(--accent-color);
    margin-left: 16px;
  }

  &__nav {
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--white-color);

    &:hover {
      color: var(--accent-color);
      transition: 0.2s;
      cursor: pointer;
    }

    &::after {
      content: ' ~~>';
    }
  }
}
