.logo-container {
  display: flex;
  z-index: 0;
  width: 550px;
  height: auto;

  .solid-logo {
    margin: auto;
    max-width: 100%;
    opacity: 0;
    animation: fadeIn 1s 1.5s both;
    animation-delay: 2s;
    //transform: rotateZ(30deg) !important;
    z-index: 1;
  }
}
