.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  //opacity: 0;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;

  .solid-logo {
    position: absolute;
    top: 25%;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    max-width: 130%;
    opacity: 0;
    animation: fadeIn 1s 1.5s both;
    animation-delay: 2s;
    //transform: rotateZ(30deg) !important;
    z-index: 1;
  }
}

@media screen and (max-width: 1000px) {
  .logo-container {
    display: none;
  }
}
