.code {
  position: relative;
  // padding: 20px;
  border: 1px solid rgba(0, 0, 255, 0.1);
  border-radius: 10px;
}

.code__icons {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.code__icons button {
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
