@import '../vendor/reset.css';
@import '../vendor/fonts.css';
@import '../vendor/animations.css';

:root {
  --background-color: #252e42;
  --gray-color: #cacfd7;
  --white-color: #fff;
  --code-color: #282c33;
  --primary-color: #ff80ff;
  --secondary-color: #96bee9;
  --tertiary-color: #7971f4;
  --quaternary-color: #8798de;
  --quinary-color: #8d5cf0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  max-width: 1024px;
  margin: auto;
}

.button {
  width: fit-content;
  border: 1px solid var(--gray-color);
}

.button:hover {
  background-color: var(--gray-color);
  cursor: pointer;
  transition: 0.3s;
}

.button_accent {
  width: fit-content;
  border: 1px solid var(--primary-color);
}

.button_accent:hover {
  background-color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
}

.button__text {
  padding: 8px 16px;
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  line-height: 21px;
}

.title {
  color: var(--white-color);
  font-weight: 500;
  font-size: 32px;
  font-family: 'Fira Code', monospace;
  line-height: 42px;
}

.title::before {
  content: '#';
  color: var(--accent-color);
}

@media screen and (max-width: 1024px) {
  .App {
    width: 90vw;
  }
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
