.card {
  display: flex;
  flex-direction: column;
  width: 330px;
  margin: auto;

  &__image {
    border: 1px solid var(--gray-color);
  }

  &__tags {
    display: flex;
    gap: 8px;
    padding: 8px;
    border: 1px solid var(--gray-color);
  }

  &__tag {
    color: var(--gray-color);
    font-weight: 400;
    font-size: 16px;
    font-family: 'Fira Code', monospace;
    line-height: 21px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border: 1px solid var(--gray-color);
  }

  &__title {
    color: var(--white-color);
    font-weight: 500;
    font-size: 24px;
    font-family: Roboto-Slab, serif;
    line-height: 31.65px;
  }

  &__description {
    color: var(--gray-color);
    font-weight: 400;
    font-size: 16px;
    font-family: 'Fira Code', monospace;
    line-height: 21px;
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }
}

@media screen and (max-width: 360px) {
  .card {
    width: 100%;
  }
}
