.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
  line-height: 1.5;
  white-space: pre-line;
}

.container h1 {
  font-size: 32px;
}

.container img {
  width: 100%;
  height: auto;
}

.container figure {
  margin-right: 0;
  margin-left: 0;
}

.container figcaption {
  opacity: 0.6;
}

.name {
  font-size: 36px;
}

.back {
  display: inline-block;
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.code {
  padding: 2px 4px;
  font-family: monospace;
  background-color: rgb(242, 242, 242);
  border-radius: 2px;
}

.italic {
  font-style: italic;
}

.pre {
  margin: 20px 0;
  padding: 2px 4px;
  overflow: auto;
  line-height: 2.3;
  background-color: rgb(242, 242, 242);
  border-radius: 12px;
}

.code_block {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  font-family: monospace;
}

.file {
  padding: 2px 4px;
  text-decoration: none;
}

.file a {
  color: inherit;
}

.file:hover {
  background: rgba(55, 53, 47, 0.08);
  border-radius: 2px;
  cursor: pointer;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.bookmark {
  display: block;
  margin-bottom: 10px;
}

.table {
  border: 1px solid currentColor;
  border-collapse: collapse;
}
.table th {
  padding: 6px 12px;
  background-color: rgb(242, 242, 242);
  border: 1px solid currentColor;
}
.table td {
  padding: 6px 12px;
  border: 1px solid currentColor;
}

.row {
  display: flex;
}

.row > div {
  flex: 1;
}

.childPage {
  padding: 20px;
  border: 1px solid currentColor;
  border-radius: 12px;
}

@media (prefers-color-scheme: dark) {
  .code,
  .table,
  .pre {
    background-color: rgb(15, 8, 28);
  }
  .file:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    cursor: pointer;
  }
}
