.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s linear;

  &_active {
    visibility: visible;
    opacity: 1;
  }

  &__close_button {
    position: absolute;
    top: -40px;
    right: -50px;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    background-image: url(../../../public/images/close.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    border-style: none;
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }

    @media screen and (max-width: 540px) {
      top: -52px;
      right: calc(50% - 23px);
      width: 26px;
      height: 26px;
    }
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 430px;
    background-color: #fff;
    border-radius: 10px;
    @media screen and (max-width: 520px) {
      max-width: 282px;
    }
  }

  &__title {
    margin: 34px 0 0 36px;
    color: black;
    font-weight: 900;
    font-size: 24px;
    font-family: 'Roboto-slab', sans-serif;
    line-height: 29px;
    &.modal__title_delete {
      margin: 34px 0px 24px 0px;
    }

    @media screen and (max-width: 520px) {
      margin-top: 25px;
      margin-left: 22px;
      font-size: 18px;
      line-height: 22px;
      text-align: left;
    }
  }

  &__tooltip_image {
    width: 120px;
    height: 120px;
    margin: auto;
    padding-top: 60px;
  }

  &__tooltip_text {
    margin: 0;
    padding: 32px 36px 60px;
    text-align: center;
  }
}
