.home {
  display: flex;
  padding-top: 65px;
  padding-bottom: 112px;

  &__container_info {
    padding-top: 71px;
  }

  &__title {
    max-width: 537px;
    color: var(--white-color);
    font-weight: 600;
    font-size: 32px;
    font-family: Roboto-Slab, serif;
    line-height: 42.2px;

    &_accent {
      color: var(--accent-color);
    }
  }

  &__subtitle {
    max-width: 463px;
    padding-top: 32px;
    padding-bottom: 24px;
    color: var(--gray-color);
    font-weight: 400;
    font-size: 16px;
    font-family: 'Fira Code', monospace;
    line-height: 25px;
  }

  &__container_avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    max-width: 100%;
  }

  &__tooltip {
    display: flex;
    align-items: center;
    border: 1px solid var(--gray-color);

    &_square {
      display: block;
      width: 16px;
      height: 16px;
      margin-left: 8px;
      background-color: var(--accent-color);
    }

    &_text {
      padding: 8px 80px 8px 10px;
      color: var(--gray-color);
      font-weight: 500;
      font-size: 16px;
      font-family: 'Fira Code', monospace;
      line-height: 21px;

      &_bold {
        color: var(--white-color);
        font-weight: 600;

        &:hover {
          color: var(--accent-color);
          cursor: pointer;
          transition: 0.2s;
        }
      }
    }
  }
}

$breakpoint-mobile: 1080px;

@media screen and (max-width: $breakpoint-mobile) {
  .home {
    flex-direction: column;
    padding-top: 34px;

    &__container-info {
      margin: auto;
      padding-top: 0;
    }

    &__container-avatar {
      padding-top: 24px;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 540px) {
  .home {
    &__avatar {
      width: 100%;
      height: auto;
      padding-top: 30px;
    }
  }
}
