.home {
  padding-top: 65px;
  padding-bottom: 112px;
  display: flex;

  &__container-info {
    padding-top: 71px;
  }

  &__title {
    font-family: Roboto-Slab, serif;
    font-weight: 600;
    color: var(--white-color);
    font-size: 32px;
    line-height: 42.2px;
    max-width: 537px;

    &_accent {
      color: var(--accent-color);
    }
  }

  &__subtitle {
    max-width: 463px;
    padding-top: 32px;
    padding-bottom: 24px;
    font-family: "Fira Code", monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: var(--gray-color);
  }

  &__container-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    max-width: 100%;
  }

  &__tooltip {
    border: 1px solid var(--gray-color);
    display: flex;
    align-items: center;

    &_square {
      margin-left: 8px;
      width: 16px;
      height: 16px;
      background-color: var(--accent-color);
      display: block;
    }

    &_text {
      padding: 8px 80px 8px 10px;
      color: var(--gray-color);
      font-family: "Fira Code", monospace;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;

      &_bold {
        font-weight: 600;
        color: var(--white-color);

        &:hover {
          cursor: pointer;
          color: var(--accent-color);
          transition: 0.2s;
        }
      }
    }
  }
}

$breakpoint-mobile: 1080px;

@media screen and (max-width: $breakpoint-mobile) {
  .home {
    flex-direction: column;
    padding-top: 34px;

    &__container-info {
      padding-top: 0;
      margin: auto;
    }

    &__container-avatar {
      padding-top: 24px;
    }
  }
}
