.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 60px;

  &__logo {
    cursor: pointer;
  }

  &__menu_btn {
    display: none;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: url('../../../public/images/mobile-menu.svg');
    border: none;
  }

  &__nav {
    display: flex;
    gap: 32px;
    list-style: none;

    &_link {
      & > a {
        color: var(--gray-color);
        font-weight: 400;
        font-size: 16px;
        font-family: 'Fira Code', monospace;
        line-height: 21px;
        text-decoration: none;
      }

      & > a.active {
        color: var(--white-color);
        font-weight: 500;
        transition: 0.2s;
      }

      &::before {
        content: '#';
        color: var(--accent-color);
      }
    }
  }
}

$breakpoint-tablet: 600px;

@media screen and (max-width: $breakpoint-tablet) {
  .header {
    &__nav {
      display: none;

      &_mobile {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 0 16px;
        transform: translate(0, 70%);
      }
    }

    &__menu-btn {
      display: block;
      cursor: pointer;
    }

    &__mobile-menu {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100vw;
      height: 100vh;
      background-color: var(--background-color);
    }

    &__mobile-menu__close-btn {
      position: absolute;
      top: 40px;
      right: 16px;
      width: 24px;
      height: 24px;
      background-color: transparent;
      background-image: url('../../../public/images/close.svg');
      border: none;
      cursor: pointer;
    }

    &__mobile-menu__logo {
      position: absolute;
      top: 40px;
      left: 16px;
      display: block;
      width: 105px;
      height: 21px;
      background-image: url('../../../public/images/logo.svg');
      cursor: pointer;
    }

    &__nav_link_mobile {
      font-size: 32px;
      line-height: 42px;
    }
  }
}
