.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 60px;

  &__logo {
    cursor: pointer;
  }

  &__nav {
    display: flex;
    gap: 32px;
    list-style: none;

    &_link {
      & > a {
        color: var(--white-color);
        font-weight: 500;
        font-size: 16px;
        font-family: 'Fira Code', monospace;
        line-height: 21px;
        text-decoration: none;
      }

      &::before {
        content: '#';
        color: var(--accent-color);
      }
    }
  }
}

$breakpoint-tablet: 600px;

@media screen and (max-width: $breakpoint-tablet) {
  .header {
    &__nav {
      display: none;
    }
  }
}
