.nav-bar {
  background: var(--tertiary-color);
  z-index: 3;
  height: 60px;
  width: 100vw;
  position: fixed;
  font-family: 'Coolvetica', sans-serif;

  &__container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
  }

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;

    a {
      color: white;
      opacity: 0.7;
      font-size: 22px;
      //line-height: 51px;
      //  height: 51px;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: var(--secondary-color);

        &:after {
          opacity: 1;
        }
      }
    }
  }

  &__social {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    //  margin-right: 180px;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 19px;
        line-height: 16px;

        &:hover svg {
          color: var(--secondary-color);
        }
      }
    }
  }
}

.logo-text {
  font-size: 30px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  font-family: 'Coolvetica', sans-serif;
  margin: 0;
  padding-top: 8px;

  &::before {
    content: '{';
    opacity: 0.5;
    margin-right: 10px;
  }

  &::after {
    content: '}';
    opacity: 0.5;
    margin-left: 10px;
  }
}

@media screen and (max-width: 676px) {
  .nav-bar {
    display: none;
  }
}
