@import url(../vendor/fonts.css);

.intro {
  background-color: #99a8c0;
}

.header {
  background-color: #99a8c0;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 43px 100px 120px 80px;
  }

  &__logo {
    margin: 0;
    color: #fff;
    font-family: "aladin";
    font-size: 40px;
  }

  &__links {
    display: flex;
    gap: 40px;
    font-family: "Mulish";
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
  }

  &__link {
    list-style: none;
  }

  &__socials {
    display: flex;
    gap: 40px;
    list-style: none;
  }

  &__social {
    list-style: none;
    color: #fff;
  }
}

.hero {
  padding-bottom: 120px;

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: auto;
  }

  &__profile {
    max-width: 64px;
    border-radius: 50px;
  }

  &__title {
    font-family: "Inter";
    font-size: 60px;
    line-height: 75px;
    font-weight: 800;
    color: #fff;
    margin: 0;
    padding: 16px 0;
  }

  &__subtitle {
    font-family: "Mulish";
    font-size: 18px;
    line-height: 1.625;
    font-weight: 400;
    color: #fff;
    display: flex;
    flex-direction: column;
  }

  &__text {
    margin: 0px;
    padding-bottom: 12px;
  }
}

.projects {
  &__container {
    max-width: 1024px;
    margin: auto;
  }

  &__title {
    font-family: "Inter";
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
  }

  &__subtitle {
  }
}
