@import url(../vendor/fonts.css);
html {
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

.intro {
  background-color: #99a8c0;
}

.header {
  background-color: #99a8c0;
  padding: 32px 0px;
}
.header__container {
  max-width: 1024px;
  margin: auto;
  padding: 0px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.header__logo {
  margin: 0;
  color: #fff;
  font-family: "aladin";
  font-size: 40px;
}
.header__links {
  display: flex;
  gap: 40px;
  font-family: "Mulish";
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
}
.header__link {
  list-style: none;
}
.header__socials {
  display: flex;
  gap: 40px;
  list-style: none;
}
.header__social {
  list-style: none;
  color: #fff;
}

.hero {
  padding-bottom: 120px;
  max-width: 1024px;
  margin: auto;
}
.hero__container {
  display: flex;
  flex-direction: column;
  padding: 0 32px;
}
.hero__profile {
  max-width: 64px;
  border-radius: 50px;
  margin-bottom: 4px;
}
.hero__title {
  font-family: "Inter";
  font-size: 3.75rem;
  line-height: 1.25;
  font-weight: 800;
  color: #fff;
  margin-bottom: 1rem;
  margin-top: 0;
}
.hero__subtitle {
  font-family: "Inter";
  font-size: 1.125rem;
  line-height: 1.625;
  font-weight: 300;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-right: 12rem;
  margin-bottom: 1.5rem;
}
.hero__text {
  margin: 0px;
  padding-bottom: 12px;
}
.hero__buttons-container {
  display: flex;
}
.hero__button {
  text-decoration: none;
  display: flex;
  background: red;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  gap: 0.75rem;
}
.hero__mail {
  width: 20px;
  display: flex;
}
.hero__mail-text {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.projects__container {
  max-width: 1024px;
  margin: auto;
  padding-top: 80px;
}
.projects__title {
  font-family: "Inter";
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  margin: 0;
}
.projects__subtitle {
  font-family: "Inter";
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  margin: 0;
  color: rgba(55, 65, 85, 0.9);
  padding-bottom: 64px;
}

.card {
  padding-bottom: 30px;
}
.card__container {
  display: flex;
  background-color: #ddd6fe;
  border-radius: 4px;
  max-width: 1108px;
}
.card__left {
  width: 54%;
}
.card__left_container {
  padding: 20px;
}
.card__title {
  font-family: "Inter";
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}
.card__tags {
  font-family: "Inter";
  font-size: 12px;
}
.card__stack {
  display: flex;
  list-style: none;
  gap: 15px;
  font-size: 14px;
  padding: 0;
}
.card__techniques {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  font-size: 14px;
}
.card_right {
  width: 46%;
}
.card__image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.button__container {
  display: flex;
}