@import url(../vendor/fonts.css);
.intro {
  background-color: #99a8c0;
}

.header {
  background-color: #99a8c0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 43px 100px 121px 80px;
}

.header__logo {
  width: 100%;
}

.header__links {
  display: flex;
  gap: 40px;
  font-family: "Mulish";
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
}

.header__link {
  list-style: none;
}

.header__socials {
  display: flex;
}

.header__social {
  list-style: none;
}

.hero__main-container {
  display: flex;
}

.hero__left {
  display: flex;
  flex-direction: column;
  max-width: 624px;
  padding-left: 88px;
}

.hero__title {
  font-family: "Neuton";
  font-size: 72px;
  line-height: 93.6px;
  font-weight: 700;
  color: #fff;
}

.hero__subtitle {
  font-family: "Mulish";
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #fff;
}
