@import url(../vendor/fonts.css);
.intro {
  background-color: #99a8c0;
}

.header {
  background-color: #99a8c0;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 100%;
}

.header__links {
  display: flex;
}

.header__link {
  list-style: none;
}

.header__socials {
  display: flex;
}

.header__social {
  list-style: none;
}
