@import url(../vendor/fonts.css);

.header {
  background-color: #99a8c0;
  padding: 32px 0px;

  &__container {
    max-width: 1024px;
    margin: auto;
    padding: 0px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  &__logo {
    margin: 0;
    color: #fff;
    font-family: "aladin";
    font-size: 40px;
  }

  &__links {
    display: flex;
    gap: 40px;
    font-family: "Mulish";
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
  }

  &__link {
    list-style: none;
  }

  &__socials {
    display: flex;
    gap: 40px;
    list-style: none;
  }

  &__social {
    list-style: none;
    color: #fff;
  }
}

.intro {
  background-color: white;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 4vmin;
    font-family: "Inter";
    font-weight: 500;
    color: #000;
    margin-bottom: 1rem;
  }

  &__name {
    font-size: 15vmin;
    font-family: "Inter";
    font-weight: 700;
    color: #000;
    margin: 0;
  }

  &__decoration {
    width: 0px;
    height: 0px;
  }

  &__decoration_left {
    height: 300px;
    position: relative;
    right: 600px;
    bottom: 230px;
  }

  &__decoration_right {
    height: 300px;
    position: relative;
    bottom: 530px;
    left: 290px;
  }
}

.about {
  padding: 60px 0px;
  background: #ffecea;

  &__content {
    max-width: 1024px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__left-container {
    max-width: 1400px;
  }

  &__profile {
    width: 70%;
  }

  &__right-container {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    font-family: "Inter";
    font-size: 1.125rem;
    line-height: 1.625;
    font-weight: 300;
    color: #333333;
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;
  }

  &__text {
    margin: 0px;
    padding-bottom: 12px;
  }

  &__buttons-container {
    display: flex;
    gap: 1.5rem;
  }

  &__button_main {
    text-decoration: none;
    display: flex;
    background: pink;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    gap: 0.75rem;
  }

  &__button_main:hover {
    background: hotpink;
  }

  &__button_secondary {
    text-decoration: none;
    display: flex;
    background: lightblue;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    gap: 0.75rem;
  }

  &__button_secondary:hover {
    background: turquoise;
  }

  &__icon {
    width: 20px;
    display: flex;
    align-self: center;
  }

  &__button-text {
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
  }
}

.technology {
  &__content {
    max-width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
  }

  &__left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    color: #000;
    text-align: center;
  }

  &__list {
    list-style: none;
  }

  &__item {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-align: center;
    margin: 20px;
    background-color: pink;
    padding: 15px;
    border-radius: 0.5rem;
  }

  &__item:hover {
    background-color: hotpink;
  }
}

.projects {
  background-color: #ffecea;

  &__container {
    max-width: 1024px;
    margin: auto;
    padding-top: 80px;
  }

  &__title {
    font-family: "Inter";
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    margin: 0;
  }

  &__subtitle {
    font-family: "Inter";
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    margin: 0;
    color: rgba(55, 65, 85, 0.9);
    padding-bottom: 64px;
  }
}

.card {
  padding-bottom: 30px;

  &__container {
    display: flex;
    background-color: #ddd6fe;
    border-radius: 4px;
    max-width: 1108px;
  }

  &__image {
    max-width: 40%;
    border-radius: 10px;
  }

  &__title {
    font-family: "Inter";
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
  }

  %__description {
    font-family: "Inter";
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: rgba(55, 65, 85, 0.9);
  }

  &__button-container {
    display: flex;
  }
}
