@media screen and (max-width: 1037px) {
  .about__content {
    max-width: 90vw;
  }
}

@media screen and (max-width: 767px) {
  .about__content {
    flex-direction: column;
    align-items: center;
  }

  .about__left-container {
    display: flex;
    justify-content: center;
  }

  .about__profile {
    max-width: 50vw;
  }

  .about__right-container {
    max-width: 80vw;
  }

  .technology__content {
    flex-wrap: wrap;
  }

  .card {
    width: 70vw;
  }
}

@media screen and (max-width: 522px) {
  .about__profile {
    max-width: 90vw;
  }
}
