.footer {
  position: absolute;
  left: 50%;
  width: 100vw;
  padding-bottom: 32px;
  border-top: 1px solid var(--gray-color);
  transform: translateX(-50%);

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    margin: auto;
    padding-top: 32px;

    &_info {
      display: flex;
      flex-direction: column;

      &_contact {
        display: flex;
        gap: 32px;
      }
    }
  }

  &__mail {
    color: var(--gray-color);
    font-weight: 400;
    font-size: 16px;
    font-family: 'Fira Code', monospace;
    line-height: 21px;
  }

  &__subtitle {
    padding-top: 16px;
    color: var(--white-color);
    font-weight: 400;
    font-size: 16px;
    font-family: 'Fira Code', monospace;
    line-height: 21px;
  }

  &__logo {
    width: 107px;
    height: auto;
  }

  &__socials {
    display: flex;
    gap: 8px;
    padding-top: 12px;

    &_title {
      color: var(--white-color);
      font-weight: 500;
      font-size: 24px;
      font-family: 'Fira Code', monospace;
      line-height: 21px;
    }
  }

  &__copy {
    padding-top: 48px;
    color: var(--gray-color);
    font-weight: 400;
    font-size: 16px;
    font-family: 'Fira Code', monospace;
    line-height: 21px;
    text-align: center;
  }
}

$breakpoint-tablet: 1079px;
$breakpoint-mobile: 680px;

@media screen and (max-width: $breakpoint-tablet) {
  .footer {
    &__container {
      max-width: 90vw;
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .footer {
    &__container {
      flex-direction: column;
      gap: 32px;

      &_info_contact {
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}
