.blog {
  padding-top: 74px;
  padding-bottom: 105px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 48px;
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__line {
    width: 511px;
    height: 1px;
    margin-left: 16px;
    background-color: var(--accent-color);
  }

  &__nav {
    color: var(--white-color);
    font-weight: 500;
    font-size: 16px;
    font-family: 'Fira Code', monospace;
    line-height: 21px;

    &:hover {
      color: var(--accent-color);
      cursor: pointer;
      transition: 0.2s;
    }

    &::after {
      content: ' ~~>';
    }

    a {
      color: var(--white-color);
      text-decoration: none;

      &:hover {
        color: var(--accent-color);
        cursor: pointer;
        transition: 0.2s;
      }
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 330px;
  margin: auto;
  border: 1px solid #eaeaea;
  height: 420px;
  overflow: hidden;

  &__title {
    color: var(--white-color);
    font-weight: 500;
    font-size: 24px;
    font-family: Roboto-Slab, serif;
    line-height: 31.65px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border: 1px solid var(--gray-color);
  }

  &__postdate {
    color: var(--gray-color);
    font-weight: 400;
    font-size: 16px;
    font-family: 'Fira Code', monospace;
    line-height: 21px;
  }

  &__description {
    color: var(--gray-color);
    font-weight: 400;
    font-size: 16px;
    font-family: 'Fira Code', monospace;
    line-height: 21px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 45px;
  }

  &__tags {
    display: flex;
    gap: 8px;
    padding: 8px;
    border: 1px solid var(--gray-color);
  }

  &__tag {
    color: var(--gray-color);
    font-weight: 400;
    font-size: 16px;
    font-family: 'Fira Code', monospace;
    line-height: 21px;

    &:hover {
      color: var(--white-color);
    }
  }
}

$breakpoint-tablet: 931px;
$breakpoint-mobile: 426px;

@media screen and (max-width: $breakpoint-tablet) {
  .blog {
    &__container {
      flex-direction: column;
      gap: 16px;
      align-items: flex-start;
    }

    &__line {
      width: 239px;
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .blog {
    &__line {
      display: none;
    }
  }
}
