.blog {
  padding-top: 74px;
  padding-bottom: 105px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 48px;
  }

  &__nav {
    color: var(--white-color);
    font-weight: 500;
    font-size: 16px;
    font-family: 'Fira Code', monospace;
    line-height: 21px;

    &:hover {
      color: var(--accent-color);
      cursor: pointer;
      transition: 0.2s;
    }

    &::after {
      content: ' ~~>';
    }

    a {
      color: var(--white-color);
      text-decoration: none;

      &:hover {
        color: var(--accent-color);
        cursor: pointer;
        transition: 0.2s;
      }
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 330px;
  margin: auto;
  border: 1px solid #eaeaea;
  height: 420px;
  overflow: hidden;
}

.blog__title {
  display: flex;
  align-items: center;
}

.blog__line {
  width: 511px;
  height: 1px;
  margin-left: 16px;
  background-color: var(--accent-color);
}

.card__tags {
  display: flex;
  gap: 8px;
  padding: 8px;
  border: 1px solid var(--gray-color);
}

.card__tag {
  color: var(--gray-color);
  font-weight: 400;
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  line-height: 21px;
}

.card__tag:hover {
  color: var(--white-color);
}

.card__title {
  color: var(--white-color);
  font-weight: 500;
  font-size: 24px;
  font-family: Roboto-Slab, serif;
  line-height: 31.65px;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border: 1px solid var(--gray-color);
}

.card__postdate {
  color: var(--gray-color);
  font-weight: 400;
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  line-height: 21px;
}

.card__description {
  color: var(--gray-color);
  font-weight: 400;
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  line-height: 21px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 45px;
}
