.post {
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  font-family: Roboto-Slab, serif;

  h1 {
    padding-bottom: 20px;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 40px;
    text-align: center;
  }

  h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 30px;
  }

  h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
  }

  p {
    font-size: 15px;
    font-family: Lato, sans-serif;
  }

  ul {
    padding-left: 20px;
    font-size: 15px;
  }

  li {
    padding-top: 5px;
    list-style: disc;
  }

  blockquote {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    background: var(--accent-color);
    border-left: 10px solid rebeccapurple;

    & strong {
      font-weight: 700;
      font-size: 16px;
    }

    & p {
      padding-bottom: 15px;
      font-size: 15px;
      font-family: Lato, sans-serif;
      font-style: italic;
    }

    & p:first-child {
      padding-top: 15px;
    }
  }
}

.article-wrapper {
  padding: 2rem;
}

.article__cover img {
  width: 100%;
}

a {
  color: var(--accent-color);
  font-weight: 500;
}

code {
  color: var(--code-color);
}

@media screen and (max-width: 1024px) {
  main.main {
    width: 70%;
  }
}

@media screen and (max-width: 920px) {
  main.main {
    width: 80%;
  }
}

@media screen and (max-width: 520px) {
  main.main {
    width: 90%;
  }
}
