@import-normalize;

:root {
  --background-color: #282c33;
  --accent-color: #c778dd;
  --gray-color: #abb2bf;
  --white-color: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  max-width: 1024px;
  margin: auto;
}

.button {
  border: 1px solid var(--gray-color);
}

.button_accent {
  border: 1px solid var(--accent-color);
}

.button__text {
  color: var(--white-color);
}
